@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 0;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #d1d5db; /* gray-300 */
    border-radius: 0;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #2563eb; /* blue-600 */
  }

  ::-webkit-scrollbar-thumb:active {
    background-color: #2563eb; /* blue-600 */
  }

  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #d1d5db transparent;
  }
}
